<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error page - Nutriboost</title>
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <link rel="stylesheet" href="/css/internal-server-error.css">
</head>
<body class="error-page">
<div class="error-container">
  <h1>500</h1>
  <p>Oops! Something went wrong on our end.</p>
  <button onclick="goBack()">Go Back</button>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>
