<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - NutriBoost</title>
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <link rel="stylesheet" href="/css/users.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<aside class="sidebar">
  <div class="sidebar-section">
    <div class="profile-header">
      <img th:src="${#strings.isEmpty(user.imageUrl) ? 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg' : user.imageUrl}"
           alt="Profile Picture" class="profile-picture"/>
      <h3 class="profile-name" th:text="${user.username}"></h3>
    </div>
    <div class="details-section">
      <div class="profile-name">
        <strong>Name</strong>
        <span th:text="${#strings.isEmpty(user.firstName) ? 'Edit profile': user.firstName + ' ' +  user.lastName}"></span>
      </div>
      <div class="profile-email">
        <strong>Email</strong>
        <span th:text="${user.email}"></span>
      </div>
      <a th:href="@{/home}" class="action-button">
        <button><i class="fa-solid fa-house"></i> Home</button>
      </a>
      <a th:href="@{/edit/profile}" class="action-button">
        <button><i class="fa-solid fa-user-pen"></i> Edit Profile</button>
      </a>
      <a th:href="@{notifications}" class="action-button">
        <button><i class="fa-solid fa-bell"></i> Notifications</button>
      </a>
      <a th:href="@{/wallet}" class="action-button">
        <button><i class="fa-solid fa-wallet"></i> Wallet</button>
      </a>
      <a th:href="@{/orders}" class="action-button">
        <button><i class="fa-solid fa-box"></i> Orders</button>
      </a>
      <a th:if="${user.role.name=='ADMIN'}" th:href="@{/users}" class="action-button">
        <button><i class="fa-solid fa-users"></i> Users</button>
      </a>
      <a th:href="@{/logout}" class="logout-button">
        <button><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
      </a>
    </div>
  </div>
</aside>
<table class = styled-table>
  <thead>
  ,<tr>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Orders Count</th>
    <th>Status</th>
    <th>Switch role</th>
    <th>Switch status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}"></td>
    <td th:text="${user.ordersCount}"></td>
    <td>
      <span th:if="${user.active}" class="active-status">Active</span>
      <span th:unless="${user.active}" class="inactive-status">Inactive</span>
    </td>
    <td>
      <form th:action="@{'/users/' + ${user.id} + '/role'}" th:method="POST">
        <button class = button-action>
          <span>Role</span>
        </button>
      </form>
    </td>
    <td>
      <form th:action="@{'/users/' + ${user.id} + '/status'}" th:method="POST">
        <button class = button-action>
          <span>Status</span>
        </button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}">
</div>
</body>
</html>